.container{
    background: var(--bg-color);
    padding-left: 17%;
    padding-right: 2%;
    padding-top: 20px;
    padding-bottom: 20px;
    min-height: 100vh;
}
.large-container{
    padding-left: 7%;
}

@media (max-width: 768px){
    .large-container, .container{
        padding-left: 4%;
        padding-right: 4%;
        padding-top: 10px;
    }
}