.play-container{
    background: var(--bg-color);
    padding-left: 2%;
    padding-right: 2%;
    padding-top: 20px;
    padding-bottom: 20px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    min-height: 100vh;
}

@media (max-width: 768px) {
    .play-container{
        padding-left: 4%;
        padding-right: 4%;
        padding-top: 10px;
    }
}